{% extends "base.html" %}
{% block content %}
<!-- Search Results -->
<div class="p-6 space-y-6 max-w-4xl mx-auto min-h-[280px]">
    {% for result in results %}
    <div class="flex bg-white shadow rounded overflow-hidden">
      {% if result.specific.specific.main_image %}
        <img src="{{ result.specific.main_image.url }}" class="w-48 h-36 object-cover" alt="Image">
      {% endif %}
      <div class="p-4 flex flex-col justify-between">
        <div>
          <h2 class="font-semibold text-lg">{{ result.title }}</h2>
          <p class="text-sm text-gray-700">{{ result.specific.content|truncatewords:30 }}</p>
        </div>
        <a href="{{ result.url }}" class="mt-2 self-start bg-red-700 text-white py-1 px-3 rounded hover:bg-red-800">
          Read More
        </a>
      </div>
    </div>
    {% empty %}
    <p>No results found.</p>
    {% endfor %}
  </div>
{% endblock %}
