{% load wagtailcore_tags %}

<nav class="flex text-gray-500 text-sm mb-6" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1">
    {% for ancestor in page.get_ancestors %} {% if not ancestor.is_root %}
    <li class="inline-flex items-center">
      <a
        href="{{ ancestor.url }}"
        class="text-gray-400 hover:text-red-600 hover:underline"
      >
        {{ ancestor.title }}
      </a>

     <span class="mx-2 text-red-400 font-bold"> > </span>

    </li>
    {% endif %} {% endfor %}
    <li class="text-gray-400 hover:text-red-600">{{ page.title }}</li>
  </ol>
</nav>
